# Server
PORT="4000"
HOST="0.0.0.0"
PROTOCOL="http"

# Database
DATABASE_USER=""
DATABASE_PASS=""
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_NAME=""
DATABASE_SYNC=""
DATABASE_ALTER=""
DATABASE_FORCE=""
DATABASE_DIALECT=""
