# Server
PORT="4000"
HOST="0.0.0.0"
PROTOCOL="http"

# Cors
CORS_ORIGIN=""

# Jwt
JWT_SECRET=""

# Multer
MULTER_PATH=""

# Admin
ADMIN_NAME=""
ADMIN_RESET=""
ADMIN_EMAIL=""
ADMIN_PHONE=""
ADMIN_PASSWORD=""

# Firebase
FIREBASE_SENDER_ID=""
FIREBASE_TYPE=""
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_CLIENT_ID=""
FIREBASE_AUTH_URI=""
FIREBASE_TOKEN_URI=""
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=""
FIREBASE_CLIENT_X509_CERT_URL=""
FIREBASE_UNIVERSE_DOMAIN=""

# Supabase
SUPABASE_URL=""
SUPABASE_KEY=""

# Database
DATABASE_USER=""
DATABASE_PASS=""
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_NAME=""
DATABASE_SYNC=""
DATABASE_ALTER=""
DATABASE_FORCE=""
DATABASE_DIALECT=""
DATABASE_CERTIFICATE=""
